<h4>Current Vehicles</h4>
<ul class = "list-unstyled" >
  <button class = " btn btn-block btn-outline-info mb-3" (click) = "showDetails()">Full Vehicle Details</button>
  <li class="card card-body mb-2" *ngFor="let vehicle of vehicles"  >
  <h5>{{ vehicle.registration }}</h5>
  <div>
    <ul class="list-group" *ngIf="show">
      <li class="list-group-item">Make: {{ vehicle.make }}</li>
      <li class="list-group-item">Model: {{ vehicle.model }}</li>
      <li class="list-group-item">Year: {{ vehicle.year }}</li>
      <li class="list-group-item">Transmission: {{ vehicle.transmission }}</li>
      <li class="list-group-item">Body Type: {{ vehicle.bodyShape }}</li>
    </ul>
  </div>
  </li>
</ul>
<h4 *ngIf="vehicles?.length == 0">No Vehicles Found</h4>
<br><br>
