<div class = "card card-body mb-3">
  <form>
    <h4 matPrefix>New Vehicle Details</h4>
    <div class = "form-group">
        <label for="registration">Registration</label>
        <input  type = "text" [(ngModel)]="vehicle.registration" class="form-control" required
        name = "registration" #registration="ngModel"  placeholder = "Registration number..." >
    </div>

    <div class = "form-group">
        <label for="make">Make</label>
        <input type = "text" [(ngModel)]="vehicle.make" name="make" #make="ngModel"
        class="form-control" placeholder = "Enter the make..." required>
    </div>

    <div class = "form-group">
      <label for="model">Model</label>
      <input type = "text" [(ngModel)]="vehicle.model" name = "model" #model="ngModel"
      class="form-control" placeholder = "Enter the model..." required>
    </div>

    <div class = "form-group">
      <label for="bodyType">Body Type</label>
      <select class="form-control" [(ngModel)]="vehicle.bodyShape" name="bodyType" #bodyShape="ngModel" placeholder = "Body Type" required>
          <option value= "Van">Van</option>
          <option value = "Ute">Ute</option>
          <option value= "Sedan">Sedan</option>
          <option value = "Hatch">Hatch</option>
      </select>
    </div>
  
    <div class = "form-group">
      <label for="transmission">Transmission</label>
      <select class="form-control" [(ngModel)]="vehicle.transmission" name="transmission" #transmission="ngModel" placeholder = "Transmission" required>
          <option value= "Manual">Manual</option>
          <option value = "Automatic">Automatic</option>
      </select>
    </div>  

    <div class = "form-group">
      <label for="year">Year (optional)</label>
      <input type = "number" [(ngModel)]="vehicle.year" name="year" #year="ngModel" class="form-control" placeholder = "xxxx">
    </div>
    <div>
        <button class = "btn btn-block btn-primary mb-3" (click) = "onSubmit(vehicle)">Add Vehicle</button>
    </div>  
      <div>
        <button *ngIf="!validates" class = "btn btn-block btn-outline-danger mb-3" (click) = "onSubmit(vehicle)">{{error}}</button>
      </div> 
  </form>
</div>
<div *ngIf="submitted">
  <span class=" btn-block badge badge-success mb-3">New vehicle(s) added: {{vehiclesAdded}} </span>
</div>





 


